.userCard {
    padding: 24px;
    background-color: darkslategray;
    border-radius: 8px;
    max-width: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 12px;
}

.bioText {
    font-weight: 500;
    max-width: 20rem;
    padding: 12px;
    margin: 4px;
}

.textContainer {
    display: flex;
    justify-content: flex-start;
    background-color: #191b20;
    padding: 12px;
    margin: 4px;
    border-radius: 6px;
}

.linkContainer {
    width: fit-content;
    padding: 8px;
    margin: 12px;
    background-color: #191b20;
    border-radius: 6px;
}

.avatarImg {
    display: flex;
    margin-right: 16px;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 32px;
}

.container {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    max-width: 24rem;
    max-height: 4rem;
}