.projects-screen {
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    padding: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
}

@media (max-width: 600px) {
    .row-content {
        flex-direction: column;
    }
}

.profile {
    position: static;
}