.navContainer {
    background: #282c34;
}

.navBar {
    padding: 4px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #191b20;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

.navList {
    display: flex;
    flex-direction: row;
}

.navHeader {
    padding: 4px 8px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.navItems {
    display: flex;
    justify-content: center;
    align-items: center;
}