.slider-img {
    max-width: fit-content;
    max-height: fit-content;
}

.slider-text {
    color: #808080;
    opacity: 0.8;
    font-weight: 800;
}

.slider {
    max-width: 512px;
    max-height: 328px;
    margin-top: 32px;
    margin: 16px;
}

@media (max-width: 600px) {
    .slider {
        overflow: auto;
        max-width: 356px;
        max-height: 156px;
        margin: none;
        margin-top: 16px;
    }
}

@media (max-width: 420px) {
    .slider {
        overflow: auto;
        max-width: 256px;
        max-height: 128px;
        margin: none;
        margin-top: 16px;
    }
}