@media only screen and (max-width < 600px) {
    a {
        padding: 2px;
        margin: 2px;
        font-size: 1rem;
    }

    p {
        font-style: 1px;
    }
}

.App {
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    padding: 64px;
    background-color: #282c34;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-header {
    margin: 24px;
    font-size: calc(10px + 2vmin);
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    padding: 4px;
    margin: 4px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
    text-decoration: none;
}

::-webkit-scrollbar,
html::-webkit-scrollbar-thumb:hover {
    width: 8px;
}

::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb:hover {
    background: darkslategray;
    border-radius: 4px;
    border: 2px solid #313131;
}

::-webkit-scrollbar-track,
html::-webkit-scrollbar-thumb:hover {
    background: #282c34;
}